<!--As an Admin, I want to be able to add matches and assign teams,
    stadium and tournaments for them so that users can view and reserve tickets for matches.-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add Matches</title>
</head>
<body class="bg-gray-200">
    <div class="max-w-xl mx-auto p-8 bg-white shadow-md rounded-md">
        <h2 class="text-2xl font-bold mb-4">Add Match</h2>
        <form th-action="@{match/add}" th-object="Matches" method="POST">
            <!--
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="team1">
                    Team 1
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="team1" type="text" placeholder="Team 1">
            </div>  -->

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="team1">
                    Team 1
                </label>
                <select th-field="{team1}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="team1">
                    <option th:each="team : ${AllTeams}" th:value="${team}" th:text="${team.name}">
            </option></select>
                    <!--
<section class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tournament">
                    <select th:field="*{team1}" > 
                      
                        <option th:each="option : ${matches}" 
                                th:value="${option.value}"
                                th:text="${option.label}">
                        </option>   
                      </select>

                </select>
            </section>
        -->
            </div>

<!--modify here, teams from db in thymeleaf, use function AddTeam, obj->user-->
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="team2">
                    Team 2
                </label>
                
                <select  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="team2">
                    <option th:each="team : ${AllTeams}" th:value="${team}" th:text="${team.name}" th:id="${team.name}">
                    </option>
                    </select>
                <!--    
                    <section class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tournament">
                        <select th:field="*{team2}" > 
                            <option th:each="option : ${matches}" 
                                    th:value="${option.value}"
                                    th:text="${option.label}">
                            </option>   
                          </select>
    
                    </select>
                </section>   
            
                </select>-->

                    </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="stadium">
                    Stadium
                </label>
                <select th-field="stadium" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stadium">
                    <option th:each="stadium : ${AllStadiums}" th:value="${stadium}" th:text="${stadium.name}" th:id="${stadium.name}">
                </select>
<!--
                <section class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tournament">
                    <select th:field="*{stadium}" > 
                        <option th:each="option : ${matches}" 
                                th:value="${option.value}"
                                th:text="${option.label}">
                        </option>   
                      </select>

                </select>
            </section>
-->
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="tournament">
                    Tournament
                </label>
                <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tournament">
                    <option th:each="stadium : ${AllStadiums}" th:value="${stadium}" th:text="${stadium.name}" th:id="${stadium.name}">
            </option>
                </select>
<!--
                <section class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tournament">
                    <select th:field="*{tournament}" > 
                        <option th:each="option : ${matches}" 
                                th:value="${option.value}"
                                th:text="${option.label}">
                        </option>   
                      </select>

                </select>
            </section>
-->
            </div>




            <div class="flex justify-center">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" type="submit">
                    Add Match
                </button>
            </div>
        </form>
    </div>
</body>
</html>