
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http:thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Add Stadium</title>
    </head>
    <script> 
         let previousOptionValue;
         function Valid(selectedElement){
            let previousOptions = [];
            const selectElements = document.querySelectorAll('select');
            selectElements.forEach((selectsElement) => {
            previousOptions.push(selectsElement.value);
            });
            selectElements.forEach((selectElement) => {
            const otherOptions = selectElement.querySelectorAll('option');
            otherOptions.forEach((option) => {
                option.style.display = "block";
            if(previousOptions.includes(option.value)){
                option.style.display = "none";
            }
            });
            });
         }

function Validss(selectedElement) {
  // Get the selected option value
  //const selectedOptionId = selectedElement.id;
    const selectedOptionValue = selectedElement.value;
  // Loop through all the select elements
  const selectElements = document.querySelectorAll('select');
  selectElements.forEach((selectElement) => {
    if (selectElement !== selectedElement) {
      // Remove the selected option from the other select element's option list
      const otherOptions = selectElement.querySelectorAll('option');
      otherOptions.forEach((option) => {
        if (option.value === selectedOptionValue) {
          option.style.display = "none";
        }
        });
      }
    });
    

      // Add back the previously selected option to the other select element's option list
      if (previousOptionValue != null) {
        //let previousOption = document.getElementById(previousOptionId);
        const sselectElements = document.querySelectorAll('select');
        sselectElements.forEach((eselectElement) => {
        const otherOptions = eselectElement.querySelectorAll('option');
         otherOptions.forEach((option) => {
          if (option.value === previousOptionValue) {
            option.style.display = "block";
          }
        });
    });
        
}
previousOptionValue = selectedOptionValue;
}

       // const option = document.createElement('option');
        //option.value = previousOption;
       // option.text = `Option ${previousOption}`;
       // selectElement.add(option);

  // Store the selected option as the previous option
        function Valids(selectedElement) {
            // Get the selected option value
            const selectedOptionValue = selectedElement.value;

            // Loop through all the select elements
            const selectElements = document.querySelectorAll('select');
            selectElements.forEach((selectElement) => {
                if (selectElement !== selectedElement) {
                // Remove the selected option from the other select element's option list
                const otherOptions = selectElement.querySelectorAll('option');
                otherOptions.forEach((option) => {
                    if (option.value === selectedOptionValue) {
                        option.style.display = "none";      
                        
                    }else{
                        option.style.display = "block";
                    }
                });

                }
            });

        }
        function check(categoryNumber){
           console.log(categoryNumber);
           var cat4 = document.getElementById("input4");
           var cat5 = document.getElementById("input5");
           var cat4Label = document.getElementById("input4Label");
           var cat5Label = document.getElementById("input5Label");
                
           if(categoryNumber == "3"){
                cat4.style.display = "none";
                cat4Label.style.display = "none";
                cat5.style.display = "none";
                cat5Label.style.display = "none";
                cat4.value = null;
                cat5.value = null;
           }
           else if(categoryNumber == "4"){
            cat4.style.display = "block";
            cat4Label.style.display = "block";
            cat5.style.display = "none";
            cat5Label.style.display = "none";
            cat5.value = null;
           }else if(categoryNumber == "5"){
            cat4.style.display = "block";
            cat4Label.style.display = "block";
            cat5.style.display = "block";
            cat5Label.style.display = "block";
           }
        }
        console.log("script");
    </script>  
    <body class="bg-gray-200">
        <div class="max-w-xl mx-auto p-8 bg-white shadow-md rounded-md">
            <h2 class="text-2xl font-bold mb-4">Add Stadium</h2>
            <form th:action="@{/stadium/add}" th:object="${stadium}" method="POST">
                <!--
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="team1">
                        Team 1
                    </label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="team1" type="text" placeholder="Team 1">
                </div>  -->
    
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="Name">
                     Stadium Name
                    </label>
                    <input th-field="*{name}"class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Stadium Name">
                    <!--
                    <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tournament">
                        <option value="">Select Team 1</option>
                        <option value="1">Team 1</option>
                        <option value="2">Team 2</option>
                        <option value="3">Team 3</option>
                    </select> -->
                </div>
    
    <!--modify here, teams from db in thymeleaf, use function AddTeam, obj->user
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="location">
                        Location
                    </label>
                    <input th:field="*{name}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="location" type="text" placeholder="Stadium Location">

                    
                        </div> -->
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="capacity">
                        Capacity
                    </label>
                    <input th-field="*{Capacity}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="capacity" min="0" type="number" placeholder="Stadium Capacity">
<!--
                    <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stadium">
                        <option value="">Select a stadium</option>
                        <option value="1">Stadium 1</option>
                        <option value="2">Stadium 2</option>
                        <option value="3">Stadium 3</option>
                    </select> -->




                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="categories">
                        Number of Categories
                    </label>
                    <select th-field="*{stadiumImage.categoryNumber}" th:onchange = "check(this.value)" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="categories">
                        <option th:each="sImage : ${allStadiumImages}" th:id="${sImage.categoryNumber}"  onClick="check()" th:value="${sImage.categoryNumber}" th:text="${sImage.categoryNumber}"></option>
                    </select>
                </div>

                <!-- 
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="Category 1 Name">
                    Category 1 Name
                    </label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Stadium Name">
                    </div> 

                    
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                            <label for="category 1" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Category 1:</label>
                          </div>
                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                            <label for="category 2" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Category 2:</label>
                          </div>
                          <br>
                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                            <label for="input3" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Category 3:</label>
                          </div>
                        
                        <input class="appearance-none border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Category 1 Name">
                        <input class="appearance-none border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Category 2 Name">
                        <input class="appearance-none border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Category 3 Name">

                    </div>  -->
                    <input type="hidden" id="temp">
                    <div class="flex flex-wrap -mx-2 mb-4">
                        <div class="w-full md:w-1/3 px-2">
                            <label id="input1Label" for="input1" class="hidden text-gray-700 font-bold mb-2 block md:inline-block md:mb-0 md:mr-2">Category 1 Price/Capacity%:</label>
                        </div>
                        <div class="w-full md:w-1/3 px-2">
                            <label  id="input2Label" for="input2" class="text-gray-700 font-bold mb-2 block md:inline-block md:mb-0 md:mr-2">Category 2 Price/Capacity%:</label>
                        </div>
                        <div class="w-full md:w-1/3 px-2">
                            <label  id="input3Label" for="input3" class="text-gray-700 font-bold mb-2 block md:inline-block md:mb-0">Category 3 Price/Capacity%:</label>
                        </div>
                        
                    </div>
                    <div class="flex flex-wrap -mx-2">
                        <div class="w-full md:w-1/3 px-2">
                            <select id="input1" th:onchange="Valid(this)" name="cat1" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option th:each="cats : ${allCategories}" th:id="${cats.id}" th:value="${cats.id}" th:text="${cats.pricePercentage} + '%/'+ ${cats.capacityPercentage} + '%' "></option>
                            </select>
                        </div>
                        <div class="w-full md:w-1/3 px-2">
                            <select  id="input2" name="cat2" th:onchange="Valid(this)" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
                                <option th:each="cats : ${allCategories}" th:id="${cats.id}" th:value="${cats.id}" th:text="${cats.pricePercentage} + '%/'+ ${cats.capacityPercentage} + '%' "></option>
                            </select>
                        </div>
                        <div class="w-full md:w-1/3 px-2">
                            <select   id="input3" name="cat3" th:onchange="Valid(this)" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
                                <option th:each="cats : ${allCategories}" th:id="${cats.id}" th:value="${cats.id}" th:text="${cats.pricePercentage} + '%/'+ ${cats.capacityPercentage} + '%' "></option>
                            </select>
                        </div>
                        

                        
                    </div>
                        <div class="flex flex-wrap -mx-2 mb-4">
                            
                            <div class="w-full md:w-1/3 px-2">
                                <label  id="input4Label" for="input4" class="hidden text-gray-700 font-bold mb-2 block md:inline-block md:mb-0">Category 4 Price/Capacity%:</label>
                            </div>
                            
                            <div class="w-full md:w-1/3 px-2">
                                <label  id="input5Label" for="input5" class="hidden text-gray-700 font-bold mb-2 block md:inline-block md:mb-0">Category 5 Price/Capacity%:</label>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-2">
                            
                            <div class="w-full md:w-1/3 px-2">
                                <select  id="input4" name="cat4" th:onchange="Valid(this)" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
                                    <option th:each="cats : ${allCategories}" th:id="${cats.id}" th:value="${cats.id}" th:text="${cats.pricePercentage} + '%/'+ ${cats.capacityPercentage} + '%' "></option>
                                </select>
                            </div>
                            
                            <div class="w-full md:w-1/3 px-2">
                                <select id="input5" name="cat5" th:onchange="Valid(this)" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
                                    <option th:each="cat : ${allCategories}" th:id="${cat.id}" th:value="${cat.id}" th:text="${cat.pricePercentage} + '%/'+ ${cat.capacityPercentage} + '%' "></option>
                                </select>
                            </div>
                            
                        </div>
                    
                    
                    <br>

                <div class="flex justify-center">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" type="submit">
                        Add Stadium
                    </button>
                </div>
            </form>
        </div>
        <script> 
         var cat1 = document.getElementById("input1");
            var cat2 = document.getElementById("input2");
            var cat3 = document.getElementById("input3");
            cat1.value = null;
            cat2.value = null;
            cat3.value = null;
            var cat4 = document.getElementById("input4");
            var cat5 = document.getElementById("input5");
            var cat4Label = document.getElementById("input4Label");
            var cat5Label = document.getElementById("input5Label");
            cat4.value = null;
            cat5.value = null;
            cat4.style.display = "none";
            cat4Label.style.display = "none";
            cat5.style.display = "none";
            cat5Label.style.display = "none";
            // Open and close categories menu
            /*
            const categoriesMenuButton = document.querySelector('#categories-menu-button');
            const categoriesMenu = document.querySelector('#categories-menu');
    
            categoriesMenuButton.addEventListener('click', () => {
                categoriesMenu.classList.toggle('hidden');
                categoriesMenuButton.setAttribute('aria-expanded', categoriesMenu.classList.contains('hidden') ? 'false' : 'true');
            });
    
            document.addEventListener('mousedown', (event) => {
                if (!categoriesMenu.contains(event.target) && !categoriesMenuButton.contains(event.target)) {
                    categoriesMenu.classList.add('hidden');
                    categoriesMenuButton.setAttribute('aria-expanded', 'false');
                }
            });
            */
        </script>
    </body>
    </html>