<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-200 ">
    <div class=" max-w-xl  mx-auto p-8 bg-white shadow-md rounded-md ">
        <h2 class="text-2xl font-bold mb-4 " >Add Sections</h2>


        <form th:action="@{/stadium/section}" th:object="${section}" method="POST" enctype="multipart/form-data">           
            <div class="mb-4 ">
                <label class="block text-gray-700 font-bold mb-2">
                   Number of sections
                </label>
                <input type="number" th:field="*{categoryNumber}"  name="team" id="team"class="appearance-none border rounded w-full  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  >
            </div>
            <div class="mb-4 ">
                <label class="block text-gray-700 font-bold mb-2">
                   Stadium Chart Image
                </label>
                <input type="hidden" th:field="*{imgUrl}">
                <input type="file" name="images" class="appearance-none border rounded w-full  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" accept="image/png, image/jpg" >
            </div>
            <div class="flex justify-center">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" type="submit"> Add team </button>         
            </div>
        </form>
    </div>
</body>


 

</html>