<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body>
    <div class="mx-auto my-auto p-6 bg-white rounded-lg shadow p-4"> 
    <table class="table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Reservation Date</th>
            <th class="px-4 py-2">Category</th>
            <th class="px-4 py-2">Stadium</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Match</th>
            <th class="px-4 py-2">User</th>
            <th class="px-4 py-2">Confirmation</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ticket : ${tickets}">
            <td class="border px-4 py-2" th:text="${ticket.reservationDate}"></td>
            <td class="border px-4 py-2" th:text="${ticket.category}"></td>
            <td class="border px-4 py-2" th:text="${ticket.stadium}"></td>
            <td class="border px-4 py-2" th:text="${ticket.price}"></td>
            <td class="border px-4 py-2" th:text="${ticket.match}"></td>
            <td class="border px-4 py-2" th:text="${ticket.user}"></td>
            <td class="border px-4 py-2">
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded"
                th:attr="data-ticket-id=${ticket.id}"
                onclick="confirmTicket(this.getAttribute('data-ticket-id'))">
                Confirm
              </button>
            </td>
          </tr>
        </tbody>
      </table> </div>
</body>
</html>