<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body>
    <div class="container mx-auto my-auto p-6 bg-white rounded-lg shadow p-4"> 
      <h1 class="text-2xl font-bold mb-4 text-center my-10"> Store Confirmation </h1>
    <table class="mx-auto my-10 text-center">
        <thead>
          <tr>
            <th class="px-4 py-2">Reservation Date</th>
            <th class="px-4 py-2">Category</th>
            <th class="px-4 py-2">Stadium</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Match</th>
            <th class="px-4 py-2">User</th>
            <th class="px-4 py-2">Confirmation</th>
          </tr>
        </thead>
        <form th:action="@{/ticket/confirm}" method="POST">
        <tbody>
            
            <tr th:each="ticket : ${tickets}">
              <td class="border px-4 py-2" th:text="${ticket.user.name}"></td>
              <td class="border px-4 py-2" th:text="${ticket.reservationDate}"></td>
              <td class="border px-4 py-2" th:text="${ticket.category.name}"></td>
              <td class="border px-4 py-2" th:text="${ticket.stadium.name}"></td>
              <td class="border px-4 py-2" th:text="${ticket.price}"></td>
              <td class="border px-4 py-2" th:text="${ticket.match.name}"></td>
              <td class="border px-4 py-2">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded"
                th:id="ticket.id"
                onclick="confirmTicket(this.getAttribute('data-ticket-id'))">
                Confirm
              </button>
            </td>
          </tr>
        </tbody>
      </form>
      </table> </div>
</body>
</html>