<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tickerhistory</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <div class="overflow-x-auto scroll-smooth">
      <div class="text-2xl text-center bg-gray-800 text-white">
        ticket history
      </div>
      <div
        class="min-w-screen min-h-screen bg-gray-800 flex items-start justify-center bg-gray-800 font-sans overflow-hidden"
      >
        <div class="w-full lg:w-5/6">
          <div class="shadow-md rounded my-6">
            <table class="min-w-max w-full table-fixed">
              <thead>
                <tr class="text-white uppercase text-sm leading-normal">
                  <th class="py-3 px-6 text-left rounded-tl-2xl bg-blue-600">
                    Home
                  </th>
                  <th class="py-3 px-6 text-left rounded-tl-2xl bg-green-600">
                    Away
                  </th>
                  <th class="py-3 px-6 text-center">stadium</th>
                  <th class="py-3 px-6 text-center">ticket id</th>
                  <th class="py-3 px-6 text-center">category</th>
                  <th class="py-3 px-6 text-center">date</th>
                  <th class="py-3 px-6 text-center">price</th>
                  <th class="py-3 px-6 text-center">store</th>
                </tr>
              </thead>

              <tbody
                class="text-white text-sm font-light bg-gray-700 border-4 border-gray-700"
              >
                <tr class="border-b-4 py-2 border-gray-900 hover:bg-gray-800">
                  <td class="py-3 px-3 border-l-2 border-gray-800 text-center">
                    <img
                      class="w-10 h-10 scale-125 rounded-full ml-10 bg-gray-600 mb-2 bg-white rounded-full"
                      src="src/../../static/ahly.png"
                    />
                    <div class="text-2xl mt-5 antialiased">ahly</div>
                  </td>
                  <td class="py-3 px-3 border-l-2 border-gray-800 text-center">
                    <img
                      class="w-10 h-10 scale-125 rounded-full ml-10 bg-gray-600 mb-2 bg-white rounded-full"
                      src="src/../../static/zamalek.png"
                    />
                    <div class="text-2xl mt-5 antialiased">zamalek</div>
                  </td>

                  <td class="py-3 px-3 border-l-2 border-gray-800 text-center">
                    <img
                      class="w-10 h-10 scale-125 rounded-full ml-10 bg-gray-600 mb-2"
                      src="src/../../static/stadium_icon.png"
                    />

                    <div class="text-xl mt-5">cairo stadium</div>
                  </td>

                  <td class="py-3 px-3 border-gray-800 text-center">
                    <img
                      class="w-10 h0 scale-125 rounded-full ml-10 mb-2"
                      src="src/../../static/ticket_icon.png"
                    />
                    <div class="text-md mt-5">34523452asdfsdfs</div>
                  </td>

                  <td class="py-3 px-3 border-gray-800">
                    <img
                      class="w-10 h-10 scale-150 rounded-full ml-10 mb-2"
                      src="src/../../static/categpry_icon.png"
                    />
                    <div
                      class="bg-yellow-200 text-center text-black rounded text-2xl mt-5"
                    >
                      cat-1
                    </div>
                  </td>

                  <td class="py-3 px-3 border-gray-800">
                    <img
                      class="w-10 h0 scale-90 rounded ml-10 mb-2"
                      src="src/../../static/date_icon.png"
                    />
                    <div class="text-center text-2xl mt-5">23-5-2021</div>
                  </td>
                  <td class="py-3 px-3 border-gray-800">
                    <img
                      class="w-10 h0 scale-125 rounded ml-10 mb-2"
                      src="src/../../static/money_icon.png"
                    />
                    <div class="text-center text-2xl mt-5">300</div>
                  </td>

                  <td class="py-3 px-3 border-gray-800">
                    <img
                      class="w-10 h0 scale-100 ml-10 mb-2"
                      src="src/../../static/store_icon.png"
                    />
                    <div class="text-center text-2xl mt-5">virgin</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
